<style>
  #main-content {
    width: calc(100% - 270px);
    margin-left: 270px;
  }
  .blog-posts {
    width: calc(100% - 300px);
    padding: 0 30px;
    position: relative;
  }
  @media (max-width: 1260px) {
    .blog-posts {
      width: 100%;
    }
    .sidebar {
      display: none;
    }
  }
</style>
<div (resized)="onResized($event)">
  <app-menu></app-menu>

  <div id="main-content" class="flex flex-row justify-between">
    <div class="blog-posts flex flex-row flex-wrap">
      <div
        *ngFor="let filteredPostsRows of filteredPostsColumns"
        class="px-2 basis-1/4"
      >
        <app-blog-post-card
          *ngFor="let post of filteredPostsRows"
          class="mt-5 px-2"
          [content]="post"
        ></app-blog-post-card>
      </div>
    </div>

    <app-sidebar class="sidebar"></app-sidebar>
  </div>
</div>
